body {
    background-color: #f0f9f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background: white;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.subtitle { color: #888; margin-bottom: 20px; }

.input-group { display: flex; gap: 10px; margin-bottom: 30px; }

input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

button { border: none; border-radius: 8px; color: white; cursor: pointer; padding: 10px 15px; }

#addBtn { background-color: #107c52; }
.btn-present { background-color: #1d6edb; }
.btn-absent { background-color: #ffa500; } 
.btn-remove { background-color: #d93025; } 

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Status Styling */
.status-present { color: #1d6edb; font-weight: bold; }
.status-absent { color: #ffa500; font-weight: bold; }
.bg-absent { background-color: #fffdf0; border-color: #ffeeba; }